<div class="container">
    <div class="row" style="margin-top: 30px;">
        <div ng-init="getBills()" xmlns="http://www.w3.org/1999/html">
            <div>
                <h1>Bill Details</h1>
            </div>
            <div ng-repeat="bill in bills2 " >
                <strong>Bill ID : {{bill.bill_id}}</strong><br><br>
                <div class="row" >
                    <div class="col-md-5" style="background-color:#cce7f3">
                        <div style="padding-top: 10px;">
                            <label>Product Details :</label><br>
                        </div>
                        <div ng-repeat="col in bill.collection " >
                            <strong>ProductID:</strong>    {{col.product_id}} <br>
                            <strong>Name:</strong>  {{col.name}}<br>
                            <strong>Price:</strong>  {{col.price}}<br>
                            <strong>Quantity:</strong>  {{col.quantity}}<br>

                            </br>
                        </div>
                        <div ng-show={{myVar}}>
                            <a type="button" class="btn btn-success" >Give Ratings and Reviews</a><br><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


