
<div class="container"
	 style="padding-bottom: 200px; padding-top: 100px;" ng-init="initsecondPage()">
	<div class="row">
		<div class="col-md-5 col-md-offset-3">
			<form name="form" role="form">
				<div class="form-group">
					<h3>Enter Delivery Details.</h3>
				</div>
				<div class="form-group"
					 ng-class="{ 'has-error': form.streetaddress.$dirty && form.firstname.$error.required }">
					<input type="text" name="streetaddress" id="streetaddress"
						   class="form-control" ng-model="user.streetaddress"
						   placeholder="StreetAddress" required /> <span
							ng-show="form.streetaddress.$dirty && form.streetaddress.$error.required"
							class="help-block">StreetAdress is required</span>
				</div>
				<div class="form-group">
					<input type="text" name="streetaddressOptional" id="address"
						   class="form-control" ng-model="user.streetaddressOptional"
						   placeholder="StreetAddressOptional" />
				</div>
				<div class="form-group"
					 ng-class="{ 'has-error': form.city.$dirty && form.city.$error.required }">
					<input type="text" name="city" id="city" class="form-control"
						   ng-model="user.city" placeholder="City" required /> <span
							ng-show="form.city.$dirty && form.city.$error.required"
							class="help-block">City is required</span>
				</div>
				<div class="form-group"
					 ng-class="{ 'has-error': form.state.$dirty && form.state.$error.required }">
					<input type="text" name="state" id="state" class="form-control"
						   ng-model="user.state" placeholder="State" required /> <span
							ng-show="form.state.$dirty && form.state.$error.required"
							class="help-block">State is required</span>
				</div>
				<div class="form-group"
					 ng-class="{ 'has-error': form.zipcode.$dirty && form.zipcode.$error.required }">
					<input type="number" name="zipcode" id="zipcode"
						   class="form-control" ng-model="user.zipcode" placeholder="Zipcode"
						   required /> <span
							ng-show="form.zipcode.$dirty && form.zipcode.$error.required"
							class="help-block">Zipcode is required</span>
				</div>
				<div class="form-group"
					 ng-class="{ 'has-error': form.phonenumber.$dirty && form.phonenumber.$error.required }">
					<input type="number" name="phonenumber" id="phonenumber"
						   class="form-control" ng-model="user.phonenumber"
						   placeholder="Phonenumber" required /> <span
							ng-show="form.phonenumber.$dirty && form.phonenumber.$error.required"
							class="help-block">Phonenumber is required</span>
				</div>

				<div class="form-group">
					<div class="input-group">
						<input type="text" name="user.customer_id_1" id="user.customer_id_1" class="form-control" placeholder="123"
							   ng-model="user.customer_id_1" required/> <span
								class="input-group-addon" required>-</span>
						<input type="text" name="user.customer_id_2" id="user.customer_id_2" class="form-control" placeholder="12"
							   ng-model="user.customer_id_2" required/> <span
								class="input-group-addon" required>-</span>
						<input type="text" name="user.customer_id_3" id="user.customer_id_3" class="form-control" placeholder="1234"
							   ng-model="user.customer_id_3" required/>
					</div>

					<div ng-hide="ssn_number_error">
						<strong><font color="red">Please enter numbers for SSN
							</font></strong>
					</div>

					<div ng-hide="ssn_empty_error">
						<strong><font color="red">Please enter SSN
							</font></strong>
					</div>

					<div ng-hide="ssn_format_error">
						<strong><font color="red">SSN must be in (123-12-1234) format
							</font></strong>
					</div>

					<div ng-hide="ssn_exists_error">
						<strong><font color="red">SSN already exists
							</font></strong>
					</div>
				</div>

				<div class="form-group" ng-hide="vendorname_value">
					<input type="text" name="vendorname" id="vendorname"
						   class="form-control" ng-model="user.vendorname"
						   placeholder="VendorName"  />
					<div ng-hide="vendorname_exists_error">
						<strong><font color="red">Vendor name already exists, please choose other name
							</font></strong>
					</div>

					<div ng-hide="vendorname_type_error">
						<strong><font color="red">Vendor name must contain only characters
							</font></strong>
					</div>

					<div ng-hide="vendorname_empty_error">
						<strong><font color="red">Please input value for vendor name
							</font></strong>
					</div>

					<div ng-hide="vendorname_length_error">
						<strong><font color="red">Please provide vendor name with in 45 characters
							</font></strong>
					</div>
				</div>

				<div class="form-group">
					<a type="button" class="btn btn-success btn-lg col-sm-12"
					   ng-click="continuedetailssignup()"
					   ng-disabled="form.$invalid"> Continue</a>
				</div>
			</form>
		</div>
	</div>
</div>







