<div class="container-fluid customer-main-container"  >
    <div class="row customer-row" style="margin-top:10px">

        <div class="col-sm-9 col-md-9"  style="border:1px solid gray">
            <div class="row row-contents">

                <div class="col-sm-6" >
                    <div  id="slides_control">
                        <div>
                            <carousel interval="myInterval">
                                <slide ng-repeat="slide in slides" active="slide.active">
                                    <img ng-src="{{slide.image}}">
                                </slide>
                            </carousel>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div id="slides_control">
                        <div>
                            <carousel interval="myInterval">
                                <slide ng-repeat="slide in slides1" active="slide.active">
                                    <img ng-src="{{slide.image}}">
                                </slide>
                            </carousel>
                        </div>
                    </div>
                </div>
            </div><!-- sub row ends here,it we cant allocate any more space can we --->
<div class="pull-right">
    <a typt="button" style="color: #00AA00" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1"><span class="glyphicon glyphicon-chevron-left"></span></a>
    {{currentPage+1}}/{{numberOfPages()}}
    <a typt="button" style="color: #00AA00" ng-disabled="currentPage >= data.length/pageSize - 1" ng-click="currentPage=currentPage+1"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>
            <div class="row row-contents">
                <div class="col-sm-12 customer-products" ng-init="customerDetails">
                    <div class="container-fluid">
                        <ul class="list-unstyled">
                            <li ng-repeat="x in customerDetails | startFrom:currentPage*pageSize | limitTo:pageSize">
                                <div class="col-sm-3 product-temp" >
                                    <a type="button" class="btn" ui-sref="app.productDetails({foo:'fooval',productid:x.productId})">
                                        <img src="{{x.image}}" class="img-responsive" alt="" />
                                    </a>
                                    <h6 class="temp-text"><strong>${{x.productPrice}}</strong></h6>
                                    <h5 class="temp-text">{{x.productName}}</h5>
                                    <h6 class="temp-text">
                                        <a ui-sref="app.farmerProducts({foo:'fooval',farmerId:x.productVendor})">
                                        <span style="font-color:#0accff"><u>{{x.productVendor}}</u></span>
                                        </a>
                                    </h6>
                                    <button type="button" ng-click="addToCart(x)" class="btn btn-success customer-mybtn col-sm-offset-3" name="button">Add to Cart</button>
                                </div>
                            </li>
                        </ul>

                        <!--......................-->

                        <!--......................-->
                    </div>
                </div>
            </div><!--sub row 2 ends here--->
        </div><!-- products container ends here--->

        <div class="col-md-3 col-sm-3" style="margin-top: 20px";>
            <div class="customer-right col-md-12 customer-mycols" >
                <div class="container-fluid checkout-temp">
                    <button type="button" ng-click="checkout()" class="btn btn-success btn-block mybtn">Proceed to Checkout</button>
                    <div style="margin-top: 10px;margin-bottom: 10px;">
                        <div class="mainContent" ng-repeat="cart in addedToCartItems" style="font-size: 15px;">
                            <input type="button" value="+" ng-click="changeQuantity(cart,1)"/>
                            <input type="button" value="-" ng-click="changeQuantity(cart,0)"/>
                            <span><b>Detail: </b>{{cart.productName}},</span>
                            <span><b>Quantity: </b>{{cart.quantity}},</span>
                            <span><b>Amount: </b>{{cart.productPrice}}</span>
                            <span class="glyphicon glyphicon-remove-sign" ng-click="removeFromCart(cart)"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--checkout div ends-->
    </div><!-- row container ends here-->

</div><!--main container ends here.....humph,i thought it's never gonna end-->
