<div class="row">
	<div class="col-xs-12 col-sm-8 col-md-8">
		<div>
			<div class="col-sm-3">
				
			</div>
			<div class="col-sm-6">
				<input type="search"
					autosave="fresh.amazon.com" name="input" tabindex="1" value=""
					class="textentry search ac_input" placeholder="Search AmazonFresh"
					title="Search AmazonFresh" autocomplete="off" style="width:780px;height:35px; margin-top:20px;">
			</div>
			<div class="col-sm-2 col-sm-offset-1" id="goButton">
				<img
					src="https://images-na.ssl-images-amazon.com/images/G/01/omaha/images/ui/searchbar-right-go.png"
					alt="Submit Search" style="margin-top:20px; height: 35px;">
			</div>
		</div>

	<div class="row row-content">
		<div class="col-sm-10 col-md-10">
			<img src="/images/mainpage.png" style="height:800px; widht: 600px; margin-top: 10px;" >
		</div>
	</div>
		<div class="image123">
			<div class="imgContainer">
				<img src="/images/image001.jpg" height="200" width="200" />
				<p>Corn</p>
			</div>
			<div class="imgContainer">
				<img src="/images/image002.jpg" height="200" width="200" />
				<p>Carrot</p>
			</div>
			<div class="imgContainer">
				<img src="/images/beetroot.jpg" height="200" width="200" />
				<p>This is image 3</p>
			</div>
		</div>
	</div>
	<div class="col-sm-2 col-md-2">
		<div class="form-actions">
			<h3>Great news, we deliver to your area.</h3>
			
			<p>AmazonFresh is available exclusively to Prime Fresh members in eligible zip codes.</p>
			<div>
				<a type="button" class="btn btn-success " ui-sref="app.login">Sign
					in with Amazon Account</a>
			</div>
			</br>
			<div>
				<p>Not a Prime Fresh member? <a ui-sref="app.login">Start your 30-day FREE trial today.</a><p>
			</div>
		</div>
	</div>
</div>