<div class="container">
    <div class="row" style="margin-top: 30px;">
        <div>
            <h1>Order Details</h1>
        </div>
        <div ng-repeat="order in orders">
            <strong>orderId</strong> - {{order.order_id}}<br>
            <strong>orderStatus</strong> - {{order.order_status}}<br>
            <strong>orderPlacedDate</strong> - {{order.order_placed_date}}<br>
            <a type="button" class="btn btn-success " ng-click="viewDetails(order.order_id,order.order_status)">View Details</a><br><br>
        </div>
    </div>
</div>