<div class="container farmer-main-container"  >

    <div class="col-sm-3" ng-controller="navBarController">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" ng-class="{active:isSelected(1)}">
                <a ng-click="select(1)" aria-controls="approve requests" role="tab" ui-sref="app">My Profile</a></li>
            <li role="presentation" ng-class="{active:isSelected(2)}">
                <a ng-click="select(2)" aria-controls="view reviews" role="tab" ui-sref="app.farmeraddProduct">Add Product</a></li>
            <li role="presentation" ng-class="{active:isSelected(3)}">
                <a ng-click="select(3)" aria-controls="view statistics" role="tab" ui-sref="app.farmerDeleteProduct({farmerId:farmer.vendor})">Delete Product</a></li>
            <li role="presentation" ng-class="{active:isSelected(6)}">
                <a ng-click="select(6)" aria-controls="view statistics" role="tab" ui-sref="app.farmerUpdateProduct({farmerId:farmer.vendor})">Update Product</a></li>
            <li role="presentation" ng-class="{active:isSelected(4)}">
                <a ng-click="select(4)" aria-controls="bill details" role="tab">View Reviews</a></li>
            <li role="presentation" ng-class="{active:isSelected(5)}">
                <a ng-click="select(5)" aria-controls="delete account" role="tab"
                   ui-sref="app.farmerDeleteAccount">Delete Account</a></li>
        </ul>
    </div>


    <div class="row farmer-row">
        <div class="col-sm-2">

        </div>

        <div class="col-sm-7 farmer-products" ng-init="images">
            <div class="container-fluid">
                <ul class="list-unstyled">

                    <li ng-repeat="x in images">
                        <div class="col-sm-3 product-temp" style="background-color:white;border:1px solid darkgrey;z-index:2;margin-top:5px;">
                            <a type="button" class="btn" ui-sref="app.productDetails({foo:'fooval',productid:x.productId})">
                                <img ng-src="{{x.image}}" class="img-responsive" alt="" />
                            </a>
                            <h6 class="temp-text"><strong>${{x.productPrice}}</strong></h6>
                            <h5 class="temp-text">{{x.productName}}</h5>
                            <button type="button" ng-click="deleteProduct(x)" class="btn btn-success farmer-mybtn col-sm-offset-2" name="button">Delete</button>
                        </div>
                    </li>
                </ul>
            </div>

        </div>









    </div>
</div>